@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC&display=swap');
.fptext{
    width:fit-content;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    margin-top:7%;
}
.fptext h2{
    color:white;
    font-family: 'Courgette' ;
    font-style: italic;
    font-weight: bolder;
    line-height: 40px;
    font-size: 40px;
    margin-bottom: 25px;
}
.fptext h1{
    font-size:75px;
    font-weight:700;
    line-height: 75px;
    text-transform: uppercase;
    color: white;
    font-family: 'Playfair Display SC';
    line-height: 75px;
    margin-bottom: 70px;
    letter-spacing: 10px;
}
.fptext button{
    color:white;
    background-color: #f63;
    padding:20px 50px;
    font-weight: bolder;
    font-size: 1.5em;
    text-transform: uppercase;
}
.fptext .btn a{
    text-decoration: none;
    color: white;
}
.fptext button:hover{
    color:white;
    border: none;
}
.fptext button:active{
    border: none;
    transform:translateY(4px);
}
@media screen and (max-width:500px){
    .fptext h2{
        font-size: 30px;
    }
    .fptext h1{
        font-size: 65px;
    }
    .fptext button{
        font-size:1.2em ;
        padding:20px 30px;
    }
}