.MainComponent{
    height:100vh;
    background-image: url("./images/header-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;  
    /* background-attachment: fixed; */
    background-size: cover; 
}
.secondComponent{
    margin:0;
    padding-top:25px;
}
.thirdComponent{
    padding-top:40px;
    background-color: #eee;
}
.fourthComponent{
    
}
.fifthComponent{
background-color: #eee;

}
.sixthComponent{
    height:120vh;
    background-image: url("./images/map-image.png");
    background-repeat: no-repeat;
    background-position: center center;  
    background-attachment: fixed;
    background-size: cover; 
    background-color: black;
}
